<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.bbs.dao.BbsMapper">
    
    <select id="listBbsMst" resultType="com.example.bbs.dto.BbsDTO">
		/** BbsMapper.listBbsMst **/
	  SELECT
			  BBS_SEN 
			, BBS_TY_CD
			, FS_CMMN_CD_NAE(BBS_TY_CD) BBS_TY_NAE
			, BBS_NAE
			, BBS_DESCRIPT
			, SORT_ORD
			, DATE_FORMAT(INP_DT, '%Y-%m-%d') AS INP_DT
		FROM BBS_MST
    </select>
</mapper>
